<div class="container">
    <main>
        <div class="dob">
            <label>Enter Your Date Of Birth</label>
            <input [formControl]="inputControl">
            <!-- <button (click)="handleClick()">Log Input Value</button> -->
            <button (click)="logClick()" [disabled]="currentlyEnabled">Enter</button>
            <br>
            <button (click)="reloadPage()" >Reload</button>
            <br>
            <h3>Reload page to enter a new number.</h3>
        </div>
        <br>
        <div class="output">
            <div class="vedic">
                    <app-square *ngFor="let val of displaySquares;let i=index" [value]="val" ></app-square> 
            </div>
        </div>
    </main>
</div>
