* {
    margin: 0px;
    padding: 0px;
    font-family: 'ubuntu', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #54426B;
    height: 100vh;
}